# Drawio
*.drawio.bkp
*.drawio.dtmp

# Kicad
*.kicad_*.lck
*.kicad_*-bak
*.kicad_prl
*#auto_saved_files#*
*-backups/
*fp-*-cache
*-lib-table
*replicate_layout.log
*save_restore_layout.log
*projinst.*
*kicad_output/
